@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="../Images/slide1.png" alt="First slide">
            <div class="carousel-caption">
                <h3>Latest Collections</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="../Images/slide2.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Make your choice</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="../Images/slide3.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Latest</h3>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>

<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/Homedesign.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Our Products <small> trend products</small></h2>
            </div>
        </div>
    </div>

    <div class="row product-container">
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/F17 pro.png" />
                <div class="caption">
                    <h5>Oppo F17 PRO</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/Oneplus Nord 2.jpg" />
                <div class="caption">
                    <h5>Oneplus Nord 2</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/samsung-galaxy-s10.jpg" />
                <div class="caption">
                    <h5>Samsung Galaxy S10</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/Oppo A31.jpg" />
                <div class="caption">
                    <h5>Oppo A31</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
    </div>

    <div class="row product-container">
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/Samsung-Galaxy-s21.jpg" />
                <div class="caption">
                    <h5>Samsung Galaxy S21</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/Oneplus 7Pro.jpg" />
                <div class="caption">
                    <h5>Oneplus 7PRO</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/Oppo A9.jpg" />
                <div class="caption">
                    <h5>Oppo A9</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/Oppo F19.jpeg" />
                <div class="caption">
                    <h5>Oppo F19</h5>
                    <p> 11,500</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>

            </div>
        </div>
    </div>

</body>
    
</html>
