@model List<PhoneShop.DAL.Tbl_Category>
@{
    Layout = null;
}

<head>
    <title>Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="../Admin/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Category Details
                    <a href="../Admin/AddCategory" class="btn btn-info pull-right"><i class="fa fa-plus"></i>Add New</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="10">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Category Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@(Model.IndexOf(item)+1)</td>
                                <td>@item.CategoryName</td>
                                <td>
                                    @Html.ActionLink("Edit", "CategoryEdit", new { catId = item.CategoryId })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                        </div>
                </div>
            </div>
        </div>


