
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Dashboarddesign.css" rel="stylesheet" />
        <title>Dashboard</title>
   
</head>
<body>
    <nav>
        <label class="logo">Admin Dashboard</label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="../Admin/Product">Products</a></li>
            <li><a href="../Admin/Categories">Categories</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="../Home/Index">LogOut</a></li>
        </ul>
    </nav>
</body>
</html>
